strong {
  font-weight: bold;
}

.cmd-default {
  padding: 8px 15px;
  display: inline-block;
  color: white;
  background-color: @blue;
  .border-radius(6px);
  .transition();
  &.cmd-large {
    padding: 15px 25px;
  }
  &:hover {
    color: white;
    background-color: @dark-blue;
  }
}